<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fei_ke.wearpay">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:name=".CaptureService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/capture_service_config"/>
        </service>

        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="微信支付"/>
        <meta-data
            android:name="xposedminversion"
            android:value="30"/>
    </application>

</manifest>
